<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>User CRUD with Vue.js</title>
    <script src="https://kit.fontawesome.com/c26e936b31.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container mt-5" id="app">
        <h3>{{titulo}}</h3>

        <!-- <input type="text" class="form-control my-3" v-model="newUser" v-on:keyup.enter="createdUser"> -->
        <form>
            <div class="form-floating">
                <input type="text" class="form-control my-3" id="floatingInputValue" v-model="nameUser" v-on:keyup.enter="createdUser($event)">
                <label for="floatingInputValue">Name User</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control my-3" id="floatingInputValue" v-model="lastNameUser" v-on:keyup.enter="createdUser($event)">
                <label for="floatingInputValue">Last Name</label>
            </div>

            <div class="form-floating">
                <input type="number" class="form-control my-3" id="floatingInputValue" v-model="ageUser" v-on:keyup.enter="createdUser($event)">
                <label for="floatingInputValue">Age</label>
            </div>

            <div v-if ="edit == false">
                <button type="submit"class="btn btn-primary"  @click="createdUser($event)">Save</button>
                <!-- <button type="submit"class="btn btn-primary"  @click="createdUser(user,lastName,age,$event)">Save</button> -->
            </div>

            <div v-if ="edit == true">
                <button class="btn btn-success" @click="updateUser($event)">Update</button>
                <button class="btn btn-danger" @click="cancelUser($event)">Cancel</button>
            </div>          
        </form> 
        

        <!-- <h5>{{newUser}}</h5> -->

        <div class="mt-3" v-for="(item,index) of users">
            <div role="alert" :class="['alert', item.state ? 'alert-success' : 'alert-danger']"
            >
                <div v-if="edit == false" class="d-flex justify-content-between align-item-center"> 
                    <div class="d-flex flex-column">
                        <label for="floatingTextarea">Id: {{index}}</label>
                        <!-- <label for="floatingTextarea">{{item.state}} </label> -->
                        <label for="floatingTextarea">Name: {{item.name}} </label>
                        <label for="floatingTextarea">Last name: {{item.lastName}}</label>
                        <label for="floatingTextarea">Age: {{item.age}}</label>
                        <!-- <label for="floatingTextarea">Created at: {{item.timeOfCreationUser}}</label>   -->
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm" @click="editUser(index)"><i class="fas fa-pen"></i></button>
                        <button class="btn btn-danger btn-sm"  @click="deleteUser(index)"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
                <div v-if="edit == true" class="d-flex justify-content-between align-item-center"> 
                    <div class="d-flex flex-column">
                        <label for="floatingTextarea">Id: {{index}}</label>
                        <!-- <label for="floatingTextarea">{{item.state}} </label> -->
                        <label for="floatingTextarea">Name: {{item.name}} </label>
                        <label for="floatingTextarea">Last name: {{item.lastName}}</label>
                        <label for="floatingTextarea">Age: {{item.age}}</label>
                        <!-- <label for="floatingTextarea">Created at: {{item.timeOfCreationUser}}</label>   -->
                    </div>
                    <div>
                        <button disabled class="btn btn-success btn-sm" @click="editUser(index)"><i class="fas fa-pen"></i></button>
                        <button disabled class="btn btn-danger btn-sm"  @click="deleteUser(index)"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        


    </div>    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./app.js"></script>
  </body>
</html>